main,footer {
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
main{
    gap:100px;
    padding-bottom: 150px;
    padding-top: 50px;
}
footer{
    gap:10px;
    padding-bottom:80px;
}
header{
    background-color:#3F9DB1;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@media (min-width: 600px){
    header{
        background-image: url(Images/code-1839406_1920.webp);
    }
}
#carreBleu{
    border-radius: 20px;
    width: 90%;
    margin-left: 3%;


}
@media (min-width: 600px){
    #carreBleu{
        background-color: #3F9DB1;
        max-width: 1000px;
        width:80%;
        padding: 5px;
        padding: 20px;
    }   
}
#button1{
    display: flex;
    justify-content: flex-end;
}
#button1>a>div{
    border-style: none;
    background: none;
}
#empty{
    padding-bottom: 8%;
}
#pdf{
    background-color: #F47575;
    font-size: 24px;
    border-radius: 33px;
    position:relative;
    top: 40px;
    border-color:white;
    border-width: 3px;
    border-style: solid;
    padding: 0px 20px;
    margin-top: 20px;
    width: fit-content;
}
#pdf:hover {
    background-color: #f76767;
}
.pdf{
    text-decoration: none;
    color:black;
}
#logoCampus{
    border-bottom:solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.photoMateo{
    border-radius: 50px;
    width:200px;
    border:black solid 2px;
}
.liens {
    color: #0060B6;
    text-decoration: none;
}

.liens:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
@media (min-width: 600px){
    .illu{
        width: 40%;
    }
}
.gap{
    gap:20px;
}
@media (min-width: 600px){
    .gap{
        padding-top: 30px;
    }
}
#scroll{
    scroll-behavior:smooth;
}
p,footer{
    text-align: justify;
    font-size: 20px;
}
h3{
    font-size:40px;
}