*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 100%;
    height: 130vh;
    overflow: hidden;
}

.images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
}

.image1 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/sky_fc.png');
    z-index: 1;
}

.image2 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/far_mountains_fc.png');
    z-index: 2;
}
.image3 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/grassy_mountains_fc.png');
    z-index: 3;
}
.image4 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/clouds_mid_t_fc.png');
    z-index: 4;
}
.image5 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/clouds_mid_fc.png');
    z-index: 5;
}
.image6 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/hill.png');
    z-index: 6;
}
.image7 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/clouds_front_t_fc.png');
    z-index: 7;
}
.image8 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/clouds_front_fc.png');
    z-index: 8;
}
/*---------------------*/
#pdf{
    background-color: #F47575;
    font-size: 24px;
    border-radius: 33px;
    position:absolute;
    left: 50%;
    top: 125vh;
    transform: translateX(-50%);
    border-color:#d8f0f2;
    border-width: 3px;
    border-style: solid;
    padding: 0px 20px;
    width: fit-content;
    z-index: 14;
}
#pdf:hover {
    background-color: #f76767;
}
.pdf{
    text-decoration: none;
    color:black;
}
/* */
main{
    margin-bottom: 5000px;
}
/*body::after{*/
/*    content: '';*/
/*    height: 2px;*/
/*    position: fixed;*/
/*    top: calc(50% - 1px);*/
/*    left: 0;*/
/*    right: 0;*/
/*    background-color: red;*/
/*    z-index: 10;*/
/*}*/
.photoMateo{
    border-radius: 50px;
    width:200px;
    border:black solid 2px;
}
#presentation{
    background-color: #F47575;

}
#presentation>div {
    padding-top: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    justify-items: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
    grid-gap: 30px;
}
@media (min-width: 768px){
    #presentation>div{
        grid-template-rows: 1fr 0;
        grid-template-columns: 1fr 4fr;
        .profilePic{
            grid-column: 1;
            grid-row: 1;
        }
        .aboutMe{
            grid-column: 2;
            grid-row: 1;
        }
        .aboutMe>p{
            margin-top: 60px;
        }
    }
}
.profilePic{
    grid-row: 1;
}
.aboutMe{
    grid-row: 2;
}


/*---------------------*/
#logoCampus{
    border-bottom:solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#logoCampus>h3{
    padding-bottom: 70px;
    padding-top: 50px;
}
.carrousel{
    height: 100%;
    margin: 0;
    display: grid;
    gap :40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
@media (min-width: 1200px) {
    .carrousel {
        grid-template-columns: repeat(4, 1fr);
    }
}

.containerCarrousel {
    width: 300px;
    height: 200px;
    position: relative;
    perspective: 800px;
    border-radius: 4px;
    transition: transform 0.5s;
}
.containerCarrousel:hover{
    transform: translateY(-10px);
}


.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #47525D;
}

.card .back {
    transform: rotateY(180deg);

}
.card .back span{
    margin-left: 20px;
    margin-right: 20px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}
/*---------------------*/