*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

.images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.image1 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/sky_fc.png');
    z-index: 1;
}

.image2 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/far_mountains_fc.png');
    z-index: 2;
}
.image3 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/grassy_mountains_fc.png');
    z-index: 3;
}
.image4 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/clouds_mid_t_fc.png');
    z-index: 4;
}
.image5 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/clouds_mid_fc.png');
    z-index: 5;
}
.image6 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/hill.png');
    z-index: 6;
}
.image7 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/clouds_front_t_fc.png');
    z-index: 7;
}
.image8 {
    background-image: url('../Images/Grassy_Mountains_Parallax_Background-vnitti/layers_fullcolor/clouds_front_fc.png');
    z-index: 8;
}
main{
    margin-bottom: 5000px;
}
/*body::after{*/
/*    content: '';*/
/*    height: 2px;*/
/*    position: fixed;*/
/*    top: calc(50% - 1px);*/
/*    left: 0;*/
/*    right: 0;*/
/*    background-color: red;*/
/*    z-index: 10;*/
/*}*/
.photoMateo{
    border-radius: 50px;
    width:200px;
    border:black solid 2px;
}
section {
    display: flex;
    flex-wrap: wrap;

}